assets/vid/.DS_Store
assets/vid/baisim-frontPage.mov
assets/vid/baisim-menu.mov
assets/vid/load-baisim.mov
assets/vid/load-baisim.webm
assets/vid/theLuupe-front-page.mov
assets/vid/cb-frontPage.mov
assets/vid/theLuupe-frontPage.mov
draft.html
assets/img/projects/logos/baisim.svg
assets/img/projects/logos/cb.svg
assets/img/projects/logos/luupe.svg
assets/img/projects/cb.gif
assets/img/projects/baisim.gif
assets/img/projects/luupe.gif
assets/img/projects/.DS_Store
assets/img/projects/the-luupe.jpg
assets/img/projects/the-luupe.png
assets/img/projects/the-luupe.webp
assets/img/projects/.DS_Store
assets/img/projects/the-luupe.webp
assets/img/projects/.DS_Store
assets/img/projects/the-luupe.webp
assets/img/projects/the-luupe.webp
.env