assets/vid/.DS_Store
assets/vid/baisim-frontPage.mov
assets/vid/baisim-menu.mov
assets/vid/load-baisim.mov
assets/vid/load-baisim.webm
assets/vid/theLuupe-front-page.mov
assets/vid/cb-frontPage.mov
assets/vid/theLuupe-frontPage.mov
draft.html
