// custom classes
.baisim-color {
  background-color: var(--baisim-color);
}
.luupe-color {
  background-color: var(--luupe-color);
}
.cb-color {
  background-color: var(--cb-color);
}
.main-color {
  background-color: var(--main);
}
.main-pad-x {
  padding-inline: 7rem;
}

.xl-padding {
  padding: 5rem 20rem;
}
.pad-top-header {
  padding-top: 15rem;
}
.flx-col {
  display: flex;
  flex-direction: column;
}
.flx-row {
  display: flex;
  flex-direction: row;
}
.active {
  text-decoration: underline !important;
}
.line {
  height: 1px;
  background-color: var(--main);
  width: 100%;
}
.parallax {
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.sml-txt {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--20px);
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.L-h {
  font-family: "Bricolage Grotesque", sans-serif;
  text-transform: uppercase;
  font-size: var(--110px);
  font-weight: 100;
  letter-spacing: 2px;
}
.Xl-thin {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--60px);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-block: 0;
  line-height: 0.8;
}
.L-h1-bold {
  font-size: var(--140px);
  text-transform: capitalize;
  text-align: left;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.XL-h {
  font-size: var(--200px);
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  line-height: 0.8;
}
.h3 {
  font-size: var(--28px);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.h6 {
  font-size: var(--16px);
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.just-btw-end {
  justify-content: space-between;
  align-items: end;
}
.hight-100 {
  height: 100vh;
}
.hight-70 {
  height: 70vh;
}
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.pad-block-5vh {
  padding-block: 5vh;
}
.pad-block-10rem {
  padding-bottom: 10rem;
}
.main-pad-y {
  padding-block: 7rem;
}
.main-pad-2rem {
  padding-block: 1rem;
}
.pad-top {
  padding-top: 5vh;
}
.pad-t-0 {
  padding-top: 0;
}
.pad-30 {
  padding-right: 30%;
}
.pad-lft-double {
  padding-left: 7rem;
}
.pad-rit-double {
  padding-right: 7rem;
}
.pad-bottom-3 {
  padding-bottom: 3rem;
}
.pad-bottom-10vh {
  padding-bottom: 10vh;
}
.flx-bte-cent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-space-btw {
  justify-content: space-between;
}
.row-space-ard {
  justify-content: space-around;
}
.row-space-evn {
  justify-content: space-evenly;
  align-items: flex-start;
}
.row-space-cen {
  justify-content: center;
}
.p-big {
  font-family: "Inter", sans-serif;
  font-size: var(--42px);
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 500;
}
.label {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--20px);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
.p-regular {
  font-family: "Inter", sans-serif;
  font-size: var(--20px);
  line-height: 1.5;
  font-weight: 300;
  margin-block: auto;
}
.site {
  color: var(--main);
  text-decoration: underline;
}
.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
}
