.header {
  position: absolute;
  right: 5rem;
  left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header-logo {
  width: 7rem;
}
.nav-header__ul {
  padding: 0;
  list-style: none;

  li {
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: var(--20px);

    a {
      text-decoration: none;
      color: var(--black);
    }
  }
}
.logo {
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: var(--30px);
}
