/* components */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Light.woff") format("woff"), url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Light.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Medium.woff") format("woff"), url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Medium.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_24pt-SemiBold.woff") format("woff"), url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque-SemiBold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Bold.woff") format("woff"), url("../scss/fonts/Bricolage_Grotesque/BricolageGrotesque_72pt-Bold.woff2") format("woff2");
  font-weight: 600;
}
.header {
  position: absolute;
  right: 5rem;
  left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding-top: 2rem;
}

.header-logo {
  width: 7rem;
}

.nav-header__ul {
  padding: 0;
  list-style: none;
}
.nav-header__ul li {
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: var(--20px);
}
.nav-header__ul li a {
  text-decoration: none;
  color: var(--main);
}

.nav-link:nth-child(1) {
  padding-left: 0;
}

.logo {
  font-family: "Inter", sans-serif;
  color: var(--main);
  font-weight: 800;
  font-size: var(--30px);
}

.nav-phone {
  display: none;
}

a.Xl-thin {
  display: inline-block;
  position: relative;
  color: var(--main);
  text-decoration: none;
  overflow: hidden;
  top: 5px;
}
a.Xl-thin:after {
  content: "";
  position: absolute;
  background: var(--main);
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
a.Xl-thin:hover:after, a.Xl-thin:focus:after, a.Xl-thin:active:after {
  width: 100%;
}

.button_container {
  position: fixed;
  top: 3rem;
  left: 0;
  height: 27px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: var(--white);
}
.button_container.active .middle {
  opacity: 0;
  background: var(--white);
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: var(--white);
}
.button_container span {
  background: var(--main);
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: var(--main);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 100%;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  position: relative;
  height: 100%;
  padding-left: 0;
  align-items: center;
}
.overlay ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a.Xl-thin {
  display: block;
  position: relative;
  color: var(--white) !important;
  font-size: 5rem;
  font-weight: 100;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
.overlay ul li a.Xl-thin:hover:after, .overlay ul li a.Xl-thin:focus:after, .overlay ul li a.Xl-thin:active:after {
  width: 100%;
}
.overlay ul li a.Xl-thin:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: var(--white);
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  visibility: visible;
  transform-origin: 0 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.baisim-color {
  background-color: var(--baisim-color);
}

.luupe-color {
  background-color: var(--luupe-color);
}

.cb-color {
  background-color: var(--cb-color);
}

.main-color {
  background-color: var(--main);
}

.main-pad-x {
  padding-inline: 7rem;
}

.xl-padding {
  padding: 5rem 20rem;
}

.pad-top-header {
  padding-top: 15rem;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.active {
  text-decoration: underline !important;
}

.line {
  height: 1px;
  background-color: var(--main);
  width: 100%;
}

.parallax {
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.sml-txt {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--20px);
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.L-h {
  font-family: "Bricolage Grotesque", sans-serif;
  text-transform: uppercase;
  font-size: var(--110px);
  font-weight: 100;
  letter-spacing: 2px;
}

.Xl-thin {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--60px);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-block: 0;
  line-height: 0.8;
}

.L-h1-bold {
  font-size: var(--140px);
  text-transform: capitalize;
  text-align: left;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.XL-h {
  font-size: var(--200px);
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  line-height: 0.8;
}

.h3 {
  font-size: var(--28px);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.h6 {
  font-size: var(--16px);
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.just-btw-end {
  justify-content: space-between;
  align-items: end;
}

.hight-100 {
  height: 100vh;
}

.hight-70 {
  height: 70vh;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.pad-block-5vh {
  padding-block: 5vh;
}

.pad-block-10rem {
  padding-bottom: 10rem;
}

.main-pad-y {
  padding-block: 7rem;
}

.main-pad-2rem {
  padding-block: 1rem;
}

.pad-top {
  padding-top: 5vh;
}

.pad-t-0 {
  padding-top: 0;
}

.pad-30 {
  padding-right: 30%;
}

.pad-lft-double {
  padding-left: 7rem;
}

.pad-rit-double {
  padding-right: 7rem;
}

.pad-bottom-3 {
  padding-bottom: 3rem;
}

.pad-bottom-10vh {
  padding-bottom: 10vh;
}

.flx-bte-cent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-space-btw {
  justify-content: space-between;
}

.row-space-ard {
  justify-content: space-around;
}

.row-space-evn {
  justify-content: space-evenly;
  align-items: flex-start;
}

.row-space-cen {
  justify-content: center;
}

.p-big {
  font-family: "Inter", sans-serif;
  font-size: var(--42px);
  line-height: 1.3;
  letter-spacing: 2px;
  font-weight: 500;
}

.label {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: var(--20px);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.p-regular {
  font-family: "Inter", sans-serif;
  font-size: var(--20px);
  line-height: 1.5;
  font-weight: 300;
  margin-block: auto;
}

.site {
  color: var(--main);
  text-decoration: underline;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
}

/* cursor */
:root {
  --main-circle-size: 16px;
  --second-circle-size: 40px;
}

.circle-main {
  position: absolute;
  width: var(--main-circle-size);
  height: var(--main-circle-size);
  margin-top: calc(-1 * var(--main-circle-size) / 2);
  margin-left: calc(-1 * var(--main-circle-size) / 2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--main);
  pointer-events: none;
  top: 0;
  left: 0;
  transition: opacity 0.03s;
  z-index: 100 !important;
  mix-blend-mode: multiply;
}

.circle-hide {
  opacity: 0;
}

.second-circle {
  position: absolute;
  transition: transform 0.15s, width 0.3s, height 0.3s, margin 0.3s;
  width: var(--second-circle-size);
  height: var(--second-circle-size);
  top: 0;
  left: 0;
  margin-top: calc(-1 * var(--second-circle-size) / 2);
  margin-left: calc(-1 * var(--second-circle-size) / 2);
  background: var(--bpink);
  border-style: solid;
  border-width: 1px;
  border-color: var(--main);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: multiply;
}

.circle-scale {
  display: block;
  width: calc(var(--second-circle-size) * 3);
  height: calc(var(--second-circle-size) * 3);
  margin-top: calc(-1 * var(--second-circle-size));
  margin-left: calc(-1 * var(--second-circle-size));
}

.slideshow {
  position: relative;
  width: 18rem;
  height: 10rem;
  padding: 10px;
}

.slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.slide {
  background-size: cover;
  background-position: center;
}

.one-a {
  background-image: url("../img/slideshow/one-a.png");
}

.one-b {
  background-image: url("../img/slideshow/one-b.png");
}

.one-c {
  background-image: url("../img/slideshow/one-c.png");
}

.one-d {
  background-image: url("../img/slideshow/one-d.png");
}

.one-e {
  background-image: url("../img/slideshow/one-e.png");
}

.two-a {
  background-image: url("../img/slideshow/two-a.png");
}

.two-b {
  background-image: url("../img/slideshow/two-b.png");
}

.two-c {
  background-image: url("../img/slideshow/two-c.png");
}

.two-d {
  background-image: url("../img/slideshow/two-d.png");
}

.two-e {
  background-image: url("../img/slideshow/two-e.png");
}

* {
  cursor: none;
}

:root {
  --white: #efefef;
  --main: #f14a00;
  --green: #029757;
  --pink: #f296bd;
  --blue: #99b7f5;
  --purble: #b8afda;
  --purble-light: #b1a8c3;
  --light: #ffecdd;
  --baisim-color: #379777;
  --luupe-color: #0a5bfc;
  --cb-color: #fbdb06;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: clamp(0.8rem, 0.5vw + 0.6rem, 1.125rem);
  --20px: clamp(0.8rem, 1vw + 0.5rem, 1.25rem);
  --24px: clamp(0.5rem, 0.5vw + 1rem, 1.5rem);
  --26px: 1.625rem;
  --28px: clamp(0.5rem, 0.5vw + 1rem, 1.75rem);
  --30px: 1.875rem;
  --32px: 2rem;
  --42px: clamp(0.7rem, 1vw + 1rem, 2.625rem);
  --60px: clamp(1.87rem, 2vw + 1rem, 3.75rem);
  --80px: clamp(1rem, 4vw + 1rem, 5rem);
  --110px: clamp(2.3rem, 8vw, 10rem);
  --130px: 8.125rem;
  --140px: clamp(5rem, 4vw + 4rem, 8.75rem);
  --160px: 10rem;
  --180px: clamp(3rem, 10vw + 1rem, 11.25rem);
  --200px: clamp(3rem, 12vw + 2rem, 12.5rem);
  --230px: 14.375rem;
  --250px: clamp(1.8rem, 14vw + 1rem, 15.625rem);
}

::-webkit-scrollbar {
  display: none;
}

.color-dark {
  background-color: var(--main) !important;
  color: var(--main);
}

.color-white {
  color: var(--light) !important;
}

.color-main {
  background-color: var(--main);
}

.color-purple {
  background-color: var(--purble-light) !important;
}

.light-purble {
  background-color: var(--light) !important;
}

.color-baisim {
  background-color: var(--baisim-color) !important;
}

.color-cb {
  background-color: var(--main) !important;
}

.color-luupe {
  background-color: var(--luupe-color) !important;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--light);
  transition: background-color 0.7s ease;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main) !important;
}

h1 {
  font-size: var(--130px);
  font-family: "Bricolage Grotesque", sans-serif;
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-size: var(--80px);
  line-height: 1;
  text-transform: capitalize;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: var(--42px);
  letter-spacing: 2px;
  font-weight: 700;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: var(--20px);
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: var(--main);
}

a:hover {
  text-decoration: none !important;
}

.intro {
  padding-bottom: 5rem;
  justify-content: end;
}

.intro__text {
  font-size: var(--110px);
  width: 90%;
  margin: 0;
  padding-top: 5rem;
}

.intro__img {
  display: inline-block;
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/portrait.webp");
  border-radius: 50%;
}

.intro__skills {
  width: 25%;
  align-self: flex-end;
}

.spin {
  transition: transform 0.5s ease-out;
}

.intro__skills > h5 {
  font-size: var(--16px);
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.intro__p {
  font-size: var(--42px);
  text-indent: 5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.intro__p-page-container {
  width: 70%;
  align-self: end;
}

.digit {
  opacity: 0;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.digit.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.services {
  height: 60vh;
  justify-content: space-between;
  padding-top: 7rem;
}

.services__item {
  width: 30%;
  align-self: flex-start;
  height: 100%;
  justify-content: flex-start;
}

.services__item-num {
  margin-top: 0;
  font-weight: 400;
  font-size: var(--60px);
  padding-bottom: 2rem;
}

.services__item-title {
  margin-bottom: 0;
  padding-block: 2rem;
}

.services__item-txt {
  font-size: var(--18px);
  line-height: 1.5;
}

.featured {
  justify-content: end;
  padding-top: 15rem;
}

.featured-line {
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.sliding-txt {
  padding-top: 3rem;
}

.text-page-container {
  position: relative;
  height: 8rem;
}

.off-screen-txt {
  position: absolute;
  margin: 0;
  font-size: var(--140px);
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Bricolage Grotesque", sans-serif;
}

.lft-scrl {
  left: 0%;
  transition: left 1s ease-out;
  font-weight: 300;
}

.right-scrl {
  right: -300vw;
  transition: right 1s ease-out;
  font-weight: 500;
}

.panel {
  height: 110vh;
  width: 100%;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel.green {
  margin-bottom: 400px;
}

.project {
  height: 90vh;
  display: flex;
  align-items: self-start;
  padding-top: 10rem;
}

.baisim {
  background-image: url("../img/projects/baisim.avif");
}
.baisim svg {
  width: 50vw;
}

.tiny-apt {
  background-image: url("../img/projects/cb.avif");
}
.tiny-apt svg {
  width: 70vw;
}

.luupe {
  background-image: url("../img/projects/luupe.avif");
}
.luupe svg {
  width: 60vw;
}

.project__txt {
  width: 85vw;
}

.project-title {
  align-self: center;
}

.project-title__txt {
  font-size: var(--200px);
  color: var(--white);
  letter-spacing: 4px;
  font-weight: 500;
  margin: 0;
}

.project__info--deets {
  padding-bottom: 3rem;
}

.project__info--deets > ul {
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
.project__info--deets > ul li {
  color: var(--white);
}

a.site:hover {
  color: var(--main) !important;
}

.project-intro {
  width: 100%;
  justify-content: space-between;
}
.project-intro p {
  font-size: var(--24px);
  margin-left: 55%;
  padding-block: 7rem;
  text-indent: 15%;
}

.dot {
  width: 15px;
}

.project-intro--title {
  justify-content: space-between;
  align-items: end;
  padding-bottom: 2rem;
}
.project-intro--title h1 {
  margin: 0;
  font-size: var(--250px);
  font-weight: 400;
  line-height: 0.7;
  align-self: flex-start;
}

.mockup {
  position: relative;
  padding-block: 5rem;
  place-items: center;
  display: flex;
  justify-content: center;
}

.video-page-container {
  width: 100%;
}

.vid {
  width: inherit;
  border-radius: 10px;
}

.project-info {
  padding-block: 5rem;
}

.mockup-snippet {
  row-gap: 5rem;
  padding-block: 8rem;
}

.next-pro-wrap {
  justify-content: end;
  padding-bottom: 5rem;
}

.next-pro {
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
  width: 100%;
}

.credit {
  padding-top: 5rem;
}
.credit h3 {
  padding-bottom: 5rem;
}

.footer {
  position: relative;
  background-color: var(--main);
  padding-top: 20rem;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: 12vw;
  padding-bottom: 2rem;
}

.email {
  font-size: var(--32px);
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
}

.footer-links {
  width: 100%;
  padding-block: 10rem;
  justify-content: space-between;
  align-items: end;
}
.footer-links a {
  font-size: var(--20px);
  font-weight: 300;
  font-family: "Bricolage Grotesque", sans-serif;
  letter-spacing: 2px;
  padding-left: 5rem;
}

.footer-links a:nth-child(1) {
  padding-left: 0;
}

.socials {
  justify-content: space-between;
}

.copyright {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: var(--12px);
}
.copyright a {
  padding-left: 1rem;
}
.copyright :hover {
  text-decoration: underline;
  color: var(--white);
}

.featured-title {
  padding-bottom: 5vw;
  align-items: end;
  justify-content: space-between;
}
.featured-title h1 {
  line-height: 0.8;
  margin: 0;
  font-size: var(--140px);
  font-weight: 400;
  align-self: flex-start;
}

.about-grid {
  display: grid;
  grid-template-rows: 25vh 10vh 80vh;
}

.about-heading {
  grid-area: 1/1/3/2;
  z-index: 1;
}

.about-img-type {
  grid-area: 2/1/4/2;
  justify-content: space-between;
}

.about-type {
  width: 75%;
  align-self: flex-end;
  padding-right: 5rem;
}
.about-type p {
  font-size: var(--18px);
  line-height: 1.6;
  text-align: justify;
  font-weight: 400;
}

.portrait-img-wrapper {
  display: inline-block;
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-image: url("../img/portrait.webp");
  align-self: flex-start;
}

.grid-lft-pad {
  display: grid;
  grid-template-columns: 30% 70%;
}

.pad-left-large {
  grid-column: 2/3;
}

.contact-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-hero__heading {
  grid-column: 1/3;
}

.contact-hero__p {
  grid-column: 1/2;
}

.dropdown {
  position: relative;
  z-index: 1;
}

input {
  align-items: center;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--main);
  background-color: transparent;
  display: flex;
  font-size: 20px;
  gap: 0.5rem;
  line-height: 170%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

input[type=text],
select,
textarea,
.dropdown-toggle {
  border: 2px solid transparent;
  border-bottom: 2px solid var(--main);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--main) !important;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: var(--main) !important;
  font-family: "Inter", sans-serif;
}

textarea {
  border-bottom: 2px solid var(--main);
  margin-block: 5rem !important;
  padding: 2rem 0;
}

input[type=submit] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

.dropdown-toggle::after {
  display: none;
}

.btn-secondary:hover {
  color: var(--main);
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid var(--main);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: var(--light);
  border-color: transparent;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
  color: var(--main) !important;
  font-size: var(--16px);
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.dropdown-menu {
  z-index: 0;
  padding: 0.5rem 0;
  counter-reset: var(--main);
}

.dropdown-menu.show {
  display: block;
  width: 100%;
  margin: 0px;
  background-color: var(--light);
  border: 2px solid var(--main);
}

:focus-visible {
  outline: none !important;
}

input:-internal-autofill-selected {
  background-color: var(--baisim-color) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--main);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}

.text {
  font-family: "Bricolage Grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  font-style: normal;
}

@media (min-width: 1600px) {
  .intro-home {
    height: 100vh;
    justify-content: space-between;
  }
  .about-grid {
    grid-template-rows: 25vh 10vh 52vh;
  }
  .project-intro p {
    padding-block: 10rem;
  }
}
@media (max-width: 1440px) {
  .about-grid {
    display: grid;
    grid-template-rows: 25vh 35vh 60vh;
  }
  .grid-lft-pad {
    grid-template-columns: 40% 60%;
  }
  .pad-block-15rem {
    padding-block: 5rem;
  }
}
@media (max-width: 1400px) {
  .xl-padding {
    padding: 5rem 10rem;
  }
  .featured {
    padding-top: 10rem;
    padding-inline: 0;
  }
}
@media (max-width: 1280px) {
  .general-padding {
    padding-inline: 4rem;
  }
  .xl-padding {
    padding: 5rem 10rem;
  }
  .main-pad-x {
    padding-inline: 3rem;
  }
  .pad-lft-double {
    padding-left: 3rem;
  }
  .intro__skills {
    width: 30%;
  }
  .intro__p-page-container {
    padding-top: 5rem;
    padding-inline: 5rem;
    width: 100%;
  }
  .about-grid {
    display: grid;
    grid-template-rows: 25vh 20vh 50vh;
  }
  .about-type {
    width: 95%;
    padding-right: 5rem;
  }
  .pad-rit-double {
    padding-inline: 3rem;
  }
}
@media (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
  .header {
    right: 3rem;
    left: 3rem;
  }
  .general-padding {
    padding-inline: 3rem;
  }
  .xl-padding {
    padding: 5rem 10rem;
  }
  .nav-header__ul li {
    padding: 0.7rem 2rem;
  }
  .intro {
    flex-direction: column;
  }
  .intro__img {
    width: 90px;
    height: 90px;
  }
  .intro__text {
    width: 90%;
    padding-top: 3rem;
  }
  .intro__skills {
    width: 40%;
  }
  .services {
    padding-top: 10rem;
  }
  .featured {
    display: none;
  }
  .mockup-snippet {
    row-gap: 5rem;
    padding-block: 5rem;
  }
  .flx-col.pad-rit-double {
    padding-right: 0;
  }
  .pad-lft-double {
    padding-left: 0rem;
  }
  .about-img-type {
    padding-inline: 0;
  }
  .portrait-img-wrapper {
    margin-top: 0;
  }
  .about-type {
    width: 90%;
    padding-right: 3rem;
  }
  .grid-lft-pad {
    display: block;
  }
  .about-grid {
    grid-template-rows: 20vh 20vh 50vh;
  }
  form.main-pad-x {
    padding-inline: 0;
  }
  .footer-logo {
    width: 20vw;
  }
}
@media (max-width: 900px) {
  .circle-main,
  .second-circle {
    display: none;
  }
  .xl-padding {
    padding: 5rem;
  }
  .pad-block-15rem {
    padding-block: 3rem;
  }
  .intro__skills {
    width: 50%;
    padding-block: 3rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .intro__p-page-container {
    padding-inline: 0;
  }
  .about-grid {
    grid-template-rows: 30vh 30vh 50vh;
  }
  .footer-logo {
    width: 20vw;
  }
}
@media (min-width: 900px) {
  .flx-col.pad-rit-double {
    padding-inline: 0rem;
  }
}
@media (max-width: 768px) {
  .pad-bottom-10vh {
    padding-bottom: 5vh;
  }
  .general-padding {
    padding-inline: 1.5rem;
  }
  .xl-padding {
    padding: 5rem 5rem;
  }
  .main-pad-x {
    padding-inline: 3rem;
  }
  .pad-lft-double {
    padding-left: 0;
  }
  .Xl-thin.pad-bottom-10vh {
    font-weight: 400;
    font-size: var(--24px);
  }
  .header {
    right: 1rem;
    left: 1rem;
    justify-content: end;
    padding-top: 3rem;
  }
  .nav-header {
    display: none;
  }
  .nav-phone {
    display: block;
    position: absolute;
  }
  .intro {
    justify-content: end;
  }
  .intro__skills {
    width: 55%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .intro__text {
    padding-bottom: 3rem;
  }
  .intro__skills > h5 {
    padding-left: 2rem;
    margin: 0;
  }
  p {
    letter-spacing: 0;
  }
  .text-page-container {
    height: 7rem;
  }
  .project {
    height: 100vh;
  }
  .project-intro p {
    margin-left: 25vw;
  }
  .contact-hero {
    grid-template-columns: 1.5fr 0.5fr;
  }
  .med-grid-flx {
    display: flex;
    flex-direction: column;
  }
  input[type=text],
  select,
  textarea,
  .dropdown-toggle {
    margin-block: 1rem;
  }
  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-links a {
    padding-right: 5rem;
  }
  .socials {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5rem;
  }
  .txt-just {
    text-align: justify;
  }
  .about-grid {
    grid-template-rows: auto;
  }
  .about-img-type {
    flex-direction: column-reverse;
    padding-inline: initial;
    padding-top: 5rem;
  }
  .about-type {
    width: unset;
    padding-top: 5rem;
  }
  .flx-col.pad-rit-double {
    padding-right: unset;
  }
  .grid-lft-pad {
    display: block;
  }
  .pad-left-large {
    grid-column: unset;
  }
  .about-type {
    width: 100%;
    padding-right: 0;
  }
  .about-type p {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  .flx-col.pad-rit-double {
    padding-inline: 0;
    padding-block: 2rem;
  }
  .footer-logo {
    width: 30vw;
  }
}
@media (max-width: 635px) {
  .intro__skills {
    width: 65%;
  }
  .services {
    padding-top: 5rem;
    flex-direction: column;
    height: auto;
    padding-right: 5rem;
  }
  .services__item {
    width: 100%;
    padding-bottom: 3rem;
  }
  .services__item-num {
    font-size: 1rem;
  }
  .services__item-title {
    font-size: var(--30px);
  }
  .services__item-txt {
    font-size: var(--24px);
  }
  .line {
    opacity: 0.2;
  }
}
@media (max-width: 520px) {
  .pad-top {
    padding-top: 3vh;
  }
  .pad-bottom-10vh {
    padding-bottom: 5vh;
  }
  .main-pad-x {
    padding-inline: 2rem;
  }
  .main-pad-y {
    padding-block: 3rem;
  }
  .xl-padding {
    padding: 2rem;
  }
  .main-pad-2rem {
    padding-block: 0.5rem;
  }
  .p-big {
    letter-spacing: 1px;
    padding-bottom: 2rem;
  }
  .p-regular {
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .L-h1-bold {
    font-weight: 400;
  }
  .L-h {
    font-size: 3rem;
    font-weight: 400;
  }
  .Xl-thin {
    font-weight: 100;
    font-size: var(--12px);
  }
  .col-rvs {
    flex-direction: column-reverse;
  }
  .pad-top-header {
    padding-top: 18rem;
  }
  .intro__img {
    width: 70px;
    height: 70px;
  }
  .intro__skills {
    width: 60%;
  }
  .intro__skills h5 {
    font-size: 0.75rem;
  }
  .spin-txt {
    padding-bottom: 5rem;
  }
  .services {
    padding-right: 0;
  }
  .luupe svg,
  .tiny-apt svg,
  .baisim svg {
    width: 80vw;
  }
  .footer-logo {
    width: 25vw;
  }
  .footer-links {
    padding-block: 7rem;
  }
  .footer-links a {
    padding-right: 5rem;
    padding-left: unset;
  }
  .project-intro p {
    font-size: 0.75rem;
    margin-left: 15%;
    padding-block: 5rem;
  }
  .project-intro--title {
    flex-direction: row;
  }
  .project-intro--title h3 {
    font-size: 1.5rem;
  }
  .mockup-snippet {
    row-gap: 3rem;
    padding-block: 3rem;
  }
  .credit h3 {
    padding-bottom: 3rem;
  }
  .next-pro-wrap {
    padding-bottom: 2rem;
  }
  .next-pro-wrap {
    height: 50vh;
  }
  .footer-logo {
    width: 45vw;
  }
  .about-img-type.main-pad-x {
    padding-inline: 0;
  }
}
@media (max-width: 480px) {
  /* Styles for smartphones */
  .header {
    justify-content: end;
  }
  .nav-header {
    display: none;
  }
  .intro {
    justify-content: center;
  }
  .intro__text {
    width: 100%;
  }
  .intro__skills {
    width: 85%;
  }
  .services {
    flex-direction: column;
    padding-top: 5rem;
    height: fit-content;
    row-gap: 3rem;
  }
  .services__item {
    width: 100%;
  }
  .text-page-container {
    height: 6rem;
  }
  .footer {
    padding: 6rem 1rem 0rem;
  }
  .footer-CTA > h1 {
    letter-spacing: 5px;
  }
}
@media (max-width: 320px) {
  .flx-col.pad-rit-double {
    padding-inline: 0;
  }
  .pad-block-5vh {
    padding-block: 2vh;
  }
  .pad-top {
    padding-top: 2vh;
  }
  .Xl-thin {
    font-size: var(--24px);
  }
  .h3 {
    font-size: var(--18px);
  }
  .h6 {
    font-size: 0.5rem;
  }
  .pad-left-large {
    align-items: flex-start;
  }
  .pad-top-header {
    padding-top: 10rem;
  }
  .L-h1-bold {
    font-size: 3rem;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about-img-type {
    flex-direction: column-reverse !important;
    padding-top: 1rem;
    padding-inline: 0;
  }
  .portrait-img-wrapper {
    height: 20rem;
  }
  .about-type {
    padding-top: 3rem;
  }
  .flx-row {
    flex-direction: column;
  }
  .intro__skills {
    width: 100%;
  }
  .intro__skills > h5 {
    padding-left: 1rem;
    font-size: 0.6rem;
  }
  .project__info--deets > ul li {
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  .socials {
    flex-direction: row;
  }
  .footer-links a {
    padding-right: 3rem;
  }
  .footer-links > ul {
    align-items: self-start;
    justify-content: space-evenly;
  }
  .copyright {
    font-size: 0.5rem;
  }
  .grid-lft-pad .pad-left-large {
    flex-direction: column;
  }
  .grid-lft-pad .pad-left-large h6 {
    display: none;
  }
}
button {
  border: none;
  background-color: transparent;
}

.the-arrow {
  width: 1px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 40%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: var(--main);
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: var(--main);
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right > .shaft {
  width: 1px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: var(--main);
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: var(--main);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: var(--main);
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  border-bottom: 1px solid var(--main);
  padding-bottom: 0.5rem;
}
.animated-arrow:hover {
  color: var(--main);
  border-bottom: none;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 3rem;
  transition-delay: 0.1s;
  background-color: var(--main);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: var(--main);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(17px);
  transform: translateX(4rem);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
